/* Common styles */
.esri-basemap-gallery {
    background-color: transparent;
}
.esri-basemap-gallery__item {
    background-color: transparent;
}

/* Styles for gallery items */
.MapGallerycontent .card-wrapper, 
.esri-basemap-gallery__item-container .esri-basemap-gallery__item {
    display: flex;
    flex-direction: column; /* Stacks content vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--dark-color5);
    padding: 6px;
    font-size: 12px;
    text-align: center;
}

/* Image styles */
.MapGallerycontent .card-wrapper img, 
.esri-basemap-gallery__item-container .esri-basemap-gallery__item img {
    max-width: 100%;
    border: 3px solid white;
    border-radius: 8px;
}

/* Title default styles */
.esri-basemap-gallery__item-title {
    color: #6e6e6e; /* Default text color */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%; /* Ensures the title fills the height of its container */
    padding: 2px;
    font-size: 11px;
    transition: color 0.25s ease-in-out, font-weight 0.25s ease-in-out;
    display: flex;
    text-align: center; /* Centers the text horizontally */
}

/* Prevent title color change when hovering over <li> */
.esri-basemap-gallery__item:hover .esri-basemap-gallery__item-title {
    color: inherit !important; /* Ensures the color remains unchanged */
}

/* Ensure hover does not change text color */
.esri-basemap-gallery__item-title:hover {
    color: inherit; /* Keeps the color the same as the default */
}

/* Prevent color change on click */
.esri-basemap-gallery__item[aria-checked="true"] .esri-basemap-gallery__item-title,
.esri-basemap-gallery__item.active .esri-basemap-gallery__item-title {
    color: inherit !important; /* Keeps the color same as default */
}

/* Dark mode overrides */
.dark-mode .esri-basemap-gallery__item-title {
    color: white; /* Text color in dark mode */
}

.dark-mode .esri-basemap-gallery__item-title:hover,
.dark-mode .esri-basemap-gallery__item[aria-checked="true"] .esri-basemap-gallery__item-title {
    color: #6e6e6e !important; /* Ensures no change in dark mode */
}

.dark-mode .esri-basemap-gallery__item:hover .esri-basemap-gallery__item-title {
    color: #6e6e6e !important; /* Ensures hover doesn't affect color in dark mode */
}
