
/* .measurement{
    margin-top: -244px !important;
} */

html,
      body,
      #viewDiv {
        /* height: 100%; */
        width: 100%;
        margin: 0;
        padding: 0;
      }
      /* #toolbarDiv {
        position: absolute;
        top: 55px;
        right: 300px;
        cursor: default;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      } */

      #infoDiv {
        position: absolute;
        top: 15px;
        left: 60px;
      }
      #infoDiv input {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
      }

       
